@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}

body{
    background: hsl(217, 54%, 11%);
}

html{
    font-size: 62.5%;
}

section{
    display: flex;
    justify-content: center;

    .container{
        text-align: center;
        background: hsl(216, 50%, 16%);
        padding: 2rem;
        margin-top: 7rem;
        border-radius: 2rem;

        .box{
            width: 30rem;
            height: 30rem;
            background-image: url(/images/image-avatar.png);
            background-size: contain;
            
            .image{
                width: 30rem;
                height: 30rem;     
            }

            .overlay{
                position: absolute;
                width: 30rem;
                height: 30rem;
                top: 9rem;
                opacity: 0;
                cursor: pointer;
                background: hsla(178, 100%, 50%, 0.4);
                display: flex;

                &:hover{
                    opacity: 1;
                }

                img{
                    margin: auto;
                }
            }
        }
        
        .num{
            text-align: left;
            margin-top: 2rem;
            
            h1{
                color: white;
                font-size: 2.5rem;
                cursor: pointer;
    
                &:hover{
                    color: hsl(178, 100%, 50%);
                }
            }   
    
            p{
                font-size: 1.5rem;
                padding-top: 1rem;
                color: hsl(215, 51%, 70%);
            }
        }
    
        .value{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            margin-top: 2rem;
            font-size: 1.5rem;
            color: hsl(215, 51%, 70%);
            .eth{
                color: hsl(178, 100%, 50%);
            }
        }
        hr{
            margin-top: 1.5rem;
            border-bottom: 1px hsl(215, 51%, 70%);
        }

      .footer{
          padding-top: 2rem;
          display: flex;
          align-items: center;

          img{
              width: 3rem;
              border: 1px solid white;
              border-radius: 50%;
          }

          p{
              color: hsl(215, 51%, 70%);
              margin-left: 1.5rem;
              font-size: 1.5rem;

              span{
                  color: white;
                  cursor: pointer;
                  
                  &:hover{
                        color: hsl(178, 100%, 50%);
                  }
              }
          }
      }
   }
}
